
<div class="body">

    <br>
        <div>
            <div class="container center">
                <div class="row">
                    <div class="col-8">
                        <div class="scrollable card">
                            <h1 class="text-white font-weight-bold bigger-text">Update Book For Book Club</h1>
                            <form #updateForm="ngForm" (submit)="onClickSubmit(bookISBN.value)">
                                <div class="form-group">
                                  <label for="bookISBN">Enter the ISBN</label>
                                  <input type="text" class="form-control" name="bookISBN" #bookISBN ngModel>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>
</div>

    